[submodule "qtbase"]
	path = qtbase
	url = git@github.com:lunascape-corporation/qtbase.git
	branch = luna-qt
	initrepo = true
[submodule "qtsvg"]
	path = qtsvg
	url = git@github.com:qtproject/qtsvg.git
	branch = 5.4.2
	initrepo = true
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = git@github.com:qtproject/qtdeclarative.git
	branch = 5.4.2
	initrepo = true
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = git@github.com:lunascape-corporation/qtactiveqt.git
	branch = luna-qt
	initrepo = true
[submodule "qtscript"]
	path = qtscript
	url = git@github.com:qtproject/qtscript.git
	branch = 5.4.2
	initrepo = true
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = git@github.com:qtproject/qtmultimedia.git
	branch = 5.4.2
	initrepo = true
[submodule "qttools"]
	path = qttools
	url = git@github.com:qtproject/qttools.git
	branch = 5.4.2
	initrepo = true
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = git@github.com:qtproject/qtxmlpatterns.git
	branch = 5.4.2
	initrepo = true
[submodule "qttranslations"]
	path = qttranslations
	url = git@github.com:qtproject/qttranslations.git
	branch = 5.4.2
	initrepo = true
[submodule "qtdoc"]
	path = qtdoc
	url = git@github.com:qtproject/qtdoc.git
	branch = 5.4.2
	initrepo = true
[submodule "qtrepotools"]
	path = qtrepotools
	url = git@github.com:qtproject/qtrepotools.git
	branch = master
	initrepo = true
[submodule "qtwebkit"]
	path = qtwebkit
	url = git@github.com:lunascape-corporation/qtwebkit.git
	branch = luna-qt
	initrepo = true
[submodule "qtwebkit-examples"]
	path = qtwebkit-examples
	url = git@github.com:qtproject/qtwebkit-examples.git
	branch = 5.4.2
	initrepo = true
[submodule "qtqa"]
	path = qtqa
	url = git@github.com:qtproject/qtqa.git
	branch = master
	initrepo = true
[submodule "qtlocation"]
	path = qtlocation
	url = git@github.com:qtproject/qtlocation.git
	branch = 5.4.2
	initrepo = true
[submodule "qtsensors"]
	path = qtsensors
	url = git@github.com:qtproject/qtsensors.git
	branch = 5.4.2
	initrepo = true
[submodule "qtsystems"]
	path = qtsystems
	url = git@github.com:qtproject/qtsystems.git
	branch = dev
[submodule "qtfeedback"]
	path = qtfeedback
	url = git@github.com:qtproject/qtfeedback.git
	branch = master
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = git@github.com:qtproject/qtdocgallery.git
	branch = master
[submodule "qtpim"]
	path = qtpim
	url = git@github.com:qtproject/qtpim.git
	branch = dev
[submodule "qtconnectivity"]
	path = qtconnectivity
	url = git@github.com:qtproject/qtconnectivity.git
	branch = 5.4.2
	initrepo = true
[submodule "qtwayland"]
	path = qtwayland
	url = git@github.com:qtproject/qtwayland.git
	branch = 5.4.2
	initrepo = true
[submodule "qt3d"]
	path = qt3d
	url = git@github.com:qtproject/qt3d.git
	branch = dev
[submodule "qtimageformats"]
	path = qtimageformats
	url = git@github.com:qtproject/qtimageformats.git
	branch = 5.4.2
	initrepo = true
[submodule "qtquick1"]
	path = qtquick1
	url = git@github.com:qtproject/qtquick1.git
	branch = 5.4.2
	initrepo = true
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = git@github.com:qtproject/qtgraphicaleffects.git
	branch = 5.4.2
	initrepo = true
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = git@github.com:qtproject/qtquickcontrols.git
	branch = 5.4.2
	initrepo = true
[submodule "qtserialport"]
	path = qtserialport
	url = git@github.com:qtproject/qtserialport.git
	branch = 5.4.2
	initrepo = true
[submodule "qtx11extras"]
	path = qtx11extras
	url = git@github.com:qtproject/qtx11extras.git
	branch = 5.4.2
	initrepo = true
[submodule "qtmacextras"]
	path = qtmacextras
	url = git@github.com:qtproject/qtmacextras.git
	branch = 5.4.2
	initrepo = true
[submodule "qtwinextras"]
	path = qtwinextras
	url = git@github.com:qtproject/qtwinextras.git
	branch = 5.4.2
	initrepo = true
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = git@github.com:qtproject/qtandroidextras.git
	branch = 5.4.2
	initrepo = true
[submodule "qtenginio"]
	path = qtenginio
	url = git@github.com:qtproject/qtenginio.git
	branch = 1.1.2
	initrepo = true
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = git@github.com:qtproject/qtwebsockets.git
	branch = 5.4.2
	initrepo = true
[submodule "qtwebchannel"]
	path = qtwebchannel
	url = git@github.com:qtproject/qtwebchannel.git
	branch = 5.4.2
	initrepo = true
[submodule "qtwebengine"]
	path = qtwebengine
	url = git@github.com:qtproject/qtwebengine.git
	branch = 5.4.2
	initrepo = true
